{% extends 'admin/admin.html.twig' %}

{% block title "Toutes les recettes" %}

{% block body %}
	<div class="row">
		<div>
			<a class="btn btn btn-primary" href="{{ path('admin.recipe.create')}}">Création recette</a>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for recipe in recipes %}
				<tr>
					<td>
						<a href="{{ path('admin.recipe.edit',{id:recipe.id}) }}">{{recipe.title}}</a>
					</td>
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-primary" href="{{ path('admin.recipe.edit',{id:recipe.id}) }}">Editer</a>
							<form method="post" action="{{ path('admin.recipe.delete',{id:recipe.id}) }}">
								<input type="hidden" name "_method" value="DELETE"/>
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</form>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
