{% extends 'base.html.twig' %}

{% block title %}Contact
{% endblock %}

{% block body %}
	<H2>Nous contacter</H2>
	{{form_start(formContact)}}
	<div class="row">
		<div class="col-sm">{{form_row(formContact.name)}}</div>
		<div class="col-sm">{{form_row(formContact.mail)}}</div>
		<div class="col-sm">{{form_row(formContact.service)}}</div>
	</div>
	{{form_end(formContact)}}
{% endblock %}
